body {
    background-color: grey;
}
#quizBox{
    text-align: center;
    background-color: rgb(31, 27, 27);
    margin-top: 150px;
    padding: 10px;
    border-radius: 1em;
    border-style: solid;
    border-color: seashell;

}
h1,h2,#result{
    color: seashell;
}
.start {
    background-color: rgb(108, 175, 108);
    width: 100px;
}
#score,#time{
    font-size: 24px;
    font-weight: bold;
}
#time {
    float: left;
}
#right {
    color: white;
}